[submodule "themes/zen"]
	path = themes/zen
	url = https://github.com/frjo/hugo-theme-zen.git
[submodule "public"]
	path = public
	url = git@github.com:spiritualdevelopment/spiritualdevelopment.github.io.git
	branch = master
