
// Site custom styles
.workshops-container{
    display: flex;
    flex-direction: row;
//     flex-wrap:wrap;
    justify-content: space-between;
    width:100%;
}

@media (max-width: 666px) {
    .workshops-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .workshop-item{
       width: 100%;
    }
}

.workshop-item{
    margin: .5em;
    padding: .5em; 
    width: 370px;
    background-color: #ddd;
}

.workshop-header{
//     min-height:4em;
    font-weight:bold;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: .3rem;
}

.workshop-subtitle{
    text-align: center;
    font-size: 1.2rem;
}
.workshop-descr{
    text-align: justify;
    font-size: .95rem;
}

img.social-link{
    width: 2em;
}

.address-map{
    .p-card {
        text-align: center;
        .h-addr {
            text-align: left;
        }
    }
    justify-content: center ;
    align-items: center;
    
    .p-name{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}