<div style="width:100%; display:flex;flex-direction:row" class='address-map'>
    <div style="min-width:50%" class="p-card">
        <div class="p-name">{{ .Site.Title }}</div>
        <div class='h-addr'>
            <span class='p-street-address'>Batyń 37</span><br>
            <span class="p-postal-code">78-331</span><br>
            <span class='p-locality'>Rąbino</span><br>
            <span class='p-country-name'>{{ T "poland" }}</span><br>

            {{- range .Page.Params.tel -}}
            <a href='tel:{{ . }}'><span class="p-tel">{{ . }}</span></a><br>
            {{ end }}
        </div>
    </div>
    <div style="min-width:50%; vertical-align:center">
        {{ partial "map.html" }}
    </div>
</div>
