<script src="https://hcaptcha.com/1/api.js" async defer></script>
<form action="https://submit-form.com/hjnYOtXF">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Name" required="" />

    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="Email" required="" />

    <label  for="surname">Surname</label>
    <input type="text" id="surname" name="surname" placeholder="Surname" />
    
    <label for="message">Message</label>
    <textarea
            id="message"
            name="message"
            placeholder="Message"
            required=""
    ></textarea>
    
    <div class="h-captcha" data-sitekey="{{ .Param "hcaptcha.sitekey" }}"></div>
    
    <button type="submit">Send</button>
</form>